@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@layer login{
.form{
    display: flex;
    /* background-color: var(--trans); */
    flex-direction: column;
    padding: 0.2rem;
    gap: 1rem;
    height: 86%;
    /* border: solid 2px red; */
    

}
.form *{
    margin: 0;
    padding: 0;
}
.form h4{
    font-size: var(--h4);
    text-align: center;
    font-family: var(--heading);
    margin-bottom: 3rem;
}

.form label{
    margin: 0.9rem 0;
    padding: 0 1rem;
    color: white;
    font-family: var(--heading);
    font-weight: 500;
}
.form input{
    width: 80%;
    height: 2rem;
    border: none;
    border-bottom: solid 1px var(--jet-text);
    background: transparent;
    backdrop-filter: blur(5px);
    font-family: var(--text);
    padding: 0.1rem;
    border-bottom: solid 1px var(--hunter-green-primary);
    
}
.form button{
    width: 120px;
    margin: 0.2rem auto;
    height: 38px;
    border-radius: 20px;
    background: var(--hunter-green-primary);
    border: none;
    font-family: var(--heading);
    font-weight: 600;
    color: var(--almond-secondary);

}

.form button:hover{
    background: var(--blue-gray-accent);
    color: var(--jet-text);

}
}

@layer signup{
    .signupHeader{
        margin: 0;
        padding: 0;
    }
    .signuplabel{
        margin: 0.2rem 0;
        padding: 0 1rem;
        width: 100%;
        /* border: solid 1px red; */
        
    }
}